/**
 * The file contains styles for GWT widgets in the standard theme.
 *
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    .gwt-Widget {
 *      property: rule applies to all browsers
 *      -property: rule applies only to IE6 (overrides previous rule)
 *    }
 *    * html .gwt-Widget {
 *      property: rule applies to all versions of IE
 *    }
 */

#interfaceContainer {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}
#interfaceContainer pre {
  font-family: "courier new", courier;
  font-size: small;
}
#interfaceContainer {
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: #fff;
  direction: ltr;
}
#interfaceContainer a, #interfaceContainer a:visited, #interfaceContainer a:hover {
  color: #0000AA;
}
